# Scraping table using pandas

In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

## Parse table header

In [3]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    col.append((name,[]))

## Creating Pandas dataframe

In [4]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [5]:
Dict={title:column for (title,column) in col}

# Cleaning data in dictionary
clean_dict1 = {x.replace('\n', ''): v for x, v in Dict.items()}

clean_dict2 = {}
clean_dict2['Postcode'] = clean_dict1['Postcode']
clean_dict2['Borough'] = clean_dict1['Borough']
l = []
for v in clean_dict1['Neighbourhood']:
        v = v.rstrip('\n')
        l.append(v)
clean_dict2['Neighbourhood'] = l

#creation of dataframe
df=pd.DataFrame(clean_dict2)

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [7]:
# Drop any rows with Borough is not assigned
df = df[df.Borough!='Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [8]:
df2 = df.groupby("Postcode",sort = False).agg(lambda x:','.join(set(x))).reset_index()

In [9]:
df2.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [10]:
# locate cells where Neighbourhood is not assigned and fill it with borough name
df2.loc[df2['Neighbourhood'] == 'Not assigned','Neighbourhood'] = df2.loc[df2['Neighbourhood'] == 'Not assigned','Borough']

In [11]:
# shape of dataframe
df2.shape

(103, 3)